include README.rst
include codegen_helpers.py
include grab-sources.sh
include vec_wrappers.py
include wrappers.pyf.mako
include setup-optimized.sh

include wrappers.pyf
include vec_wrappers.f90

include examples/*.py
include test/*.py

include fmmlib2d/COPYING
include fmmlib2d/README
include fmmlib2d/src/*.f

include fmmlib3d/COPYING
include fmmlib3d/README
include fmmlib3d/src/*.f
