name: CI
on:
    push:
        branches:
        - main
    pull_request:
        paths-ignore:
        - 'doc/*.rst'
    schedule:
        - cron:  '17 3 * * 0'

concurrency:
    group: ${{ github.head_ref || github.ref_name }}
    cancel-in-progress: true

jobs:
    ruff:
        name: Ruff
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v6
        -   uses: actions/setup-python@v6
        -   name: "Main Script"
            run: |
                pip install ruff
                ruff check

    pytest-macos:
        name: Pytest on macOS
        runs-on: macos-latest
        steps:
        -   uses: actions/checkout@v6
        -
            uses: actions/setup-python@v6
            with:
                python-version: "3.x"
        -   name: "Main Script"
            run: |
                export FC=gfortran-13
                PROJECT_INSTALL_FLAGS="--no-build-isolation"
                EXTRA_INSTALL="numpy meson-python ninja mako scipy"

                curl -L -O https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
                . ./build-and-test-py-project.sh

    pytest:
        name: Pytest on Py${{ matrix.python-version }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.10", "3.12", "3.x"]
        steps:
        -   uses: actions/checkout@v6
        -
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.python-version }}
        -   name: "Main Script"
            run: |
                PROJECT_INSTALL_FLAGS="--no-build-isolation"
                EXTRA_INSTALL="numpy meson-python ninja mako scipy"
                curl -L -O https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
                . ./build-and-test-py-project.sh

    examples:
        name: Examples on Py3
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v6
        -
            uses: actions/setup-python@v6
            with:
                python-version: "3.x"
        -   name: "Main Script"
            run: |
                PROJECT_INSTALL_FLAGS="--no-build-isolation"
                EXTRA_INSTALL="numpy meson-python ninja mako"
                curl -L -O https://gitlab.tiker.net/inducer/ci-support/raw/main/build-py-project-and-run-examples.sh
                . ./build-py-project-and-run-examples.sh
